---
import Header from "@/components/Header.astro";
import Profile from "@/components/Profile.astro";
import Skills from "@/components/Skills.astro";
import Projects from "@/components/Projects.astro";
import Hobbies from "@/components/Hobbies.astro";
import Footer from "@/components/Footer.astro";
import Experience from "@/components/Experience.astro";
import MetaData from "@/components/MetaData.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <MetaData />
  </head>
  <body class="bg-blue-1">
    <!-- <div class="progress"></div> -->
    <Header />
    <main class="container max-w-5xl m-auto px-5">
      <Profile />
      <Experience />
      <Projects />
      <Skills />
      <Hobbies />
    </main>
    <Footer />
    <style is:global>
      html {
        scroll-behavior: smooth;
      }

      ::-webkit-scrollbar-thumb {
        background: #ff6b01;
        border-radius: 0.5rem;
      }

      ::-webkit-scrollbar {
        width: 0.5rem;
      }

      ::-webkit-scrollbar-track {
        background: #1b1b2f;
      }

      .progress {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #ff6b01;
        height: 2px;
        animation: progress-grow auto linear;
        animation-timeline: scroll(root block);
        z-index: 100;
      }

      @keyframes progress-grow {
        0% {
          width: 0%;
        }
        ,
        100% {
          width: 100%;
        }
      }
    </style>
  </body>
</html>
