<li>
  <a class="hover:text-orange-1 transition duration-300" href="#inicio"
    >Inicio</a
  >
</li>
<li>
  <a class="hover:text-orange-1 transition duration-300" href="#experiencia"
    >Experiencia</a
  >
</li>
<li>
  <a class="hover:text-orange-1 transition duration-300" href="#proyectos"
    >Proyectos</a
  >
</li>
<li>
  <a class="hover:text-orange-1 transition duration-300" href="#habilidades"
    >Habilidades</a
  >
</li>
<li>
  <a class="hover:text-orange-1 transition duration-300" href="#hobbies"
    >Hobbies</a
  >
</li>
