<!-- HTML Meta Tags -->
<title>Luis Quiroz | Desarrollador web</title>
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="author" content="Luis Quiroz" />
<meta
  name="keywords"
  content="Desarrollador web, Desarrollador Full Stack, Desarrollador Frontend, Desarrollador Backend"
/>
<meta
  name="description"
  content="Portafolio web. Creo páginas y aplicaciones web, especializado en JavaScript y React"
/>

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://luis-quiiroz.netlify.app/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Luis Quiroz | Desarrollador web" />
<meta
  property="og:description"
  content="Portafolio web. Creo páginas y aplicaciones web, especializado en JavaScript y React"
/>
<meta property="og:image" content="https://luis-quiiroz.netlify.app/op.webp" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="luis-quiiroz.netlify.app" />
<meta property="twitter:url" content="https://luis-quiiroz.netlify.app/" />
<meta name="twitter:title" content="Luis Quiroz | Desarrollador web" />
<meta
  name="twitter:description"
  content="Portafolio web. Creo páginas y aplicaciones web, especializado en JavaScript y React"
/>
<meta name="twitter:image" content="https://luis-quiiroz.netlify.app/op.webp" />
