---
import SocialPill from "./SocialPill.astro";
import Linkedin from "@/components/icons/Linkedin.astro";
import Mail from "@/components/icons/Mail.astro";
import Github from "@/components/icons/Github.astro";
---

<section
  class="bg-transparent min-h-screen flex items-center justify-between"
  id="inicio"
>
  <div class="px-4">
    <h1
      class="pt-48 pb-4 md:pb-8 text-white-1 text-3xl md:text-5xl font-semibold"
    >
      Hey, soy Luis Quiroz
    </h1>
    <div>
      <p
        class="text-white-1 text-xl md:text-2xl font-medium py-3 leading-8 md:leading-10 text-balance"
      >
        +2 años de experiencia. <span class="text-orange-1"
          >Desarrollador y programador Web.</span
        > Soy autodidacta y me gusta poner en práctica los conocimientos adquiridos.
      </p>
      <p
        class="text-white-1 text-xl md:text-2xl font-medium py-3 leading-8 md:leading-10 text-balance"
      >
        Desde mi adolescencia he tenido la curiosidad de cómo funcionan las
        páginas y aplicaciones web, <span class="text-orange-1"
          >que es lo que hay detrás de ellas, su funcionamiento, su diseño y la
          experiencia de usuario.
        </span>
      </p>
    </div>
    <div class="flex items-center py-8 gap-4 md:gap-6">
      <div class="flex gap-4 md:gap-6 items-center justify-between text-white">
        <SocialPill
          href="https://www.linkedin.com/in/luis-quiiroz/"
          title="Linkedin"
        >
          <Linkedin class="size-10" />
        </SocialPill>
        <SocialPill href="mailto:luisdev99@gmail.com" title="mail">
          <Mail class="size-10" />
        </SocialPill>
        <SocialPill
          href="https://github.com/LuisQuiiroz?tab=repositories"
          title="Github"
        >
          <Github class="size-10" />
        </SocialPill>
      </div>
      <a
        class="flex justify-center items-center text-blue-1 text-lg text-center font-medium bg-orange-1 rounded-xl px-4 py-2 border border-orange-1"
        href="/LuisQuirozcv.pdf"
        rel="noopener noreferrer"
        target="_blank">Curriculum</a
      >
    </div>
  </div>
</section>
