---
const contact = [
  {
    title: "linkedin",
    src: "/contact-icons/linkedin.svg",
    href: "https://www.linkedin.com/in/luis-quiiroz/",
  },
  {
    title: "gmail",
    src: "/contact-icons/gmail.svg",
    href: "mailto:luisdev99@gmail.com",
  },
  {
    title: "github",
    src: "/contact-icons/github.svg",
    href: "https://github.com/LuisQuiiroz?tab=repositories",
  },
];
---

<section
  class="bg-transparent min-h-screen flex items-center justify-between"
  id="inicio"
>
  <div class="px-4">
    <h1
      class="pt-48 pb-4 md:pb-8 text-white-1 text-3xl md:text-5xl font-semibold"
    >
      Hey, soy Luis Quiroz
    </h1>
    <div>
      <p
        class="text-white-1 text-xl md:text-2xl font-medium py-3 leading-8 md:leading-10 text-balance"
      >
        +2 años de experiencia. <span class="text-orange-1"
          >Desarrollador y programador Web.</span
        > Soy autodidacta y me gusta poner en práctica los conocimientos adquiridos.
      </p>
      <p
        class="text-white-1 text-xl md:text-2xl font-medium py-3 leading-8 md:leading-10 text-balance"
      >
        Desde mi adolescencia he tenido la curiosidad de cómo funcionan las
        páginas y aplicaciones web, <span class="text-orange-1"
          >que es lo que hay detrás de ellas, su funcionamiento, su diseño y la
          experiencia de usuario.
        </span>
      </p>
    </div>
    <div class="flex items-center py-8 gap-4">
      <div class="flex gap-4 items-center justify-between">
        {
          contact.map(({ title, src, href }) => (
            <a href={href} target="_blank">
              <img
                class="transition duration-300 hover:scale-150 w-16 invert"
                src={src}
                alt={title}
                title={title}
              />
            </a>
          ))
        }
      </div>
      <a
        class="flex justify-center items-center text-blue-1 text-lg text-center font-medium bg-orange-1 rounded-xl px-4 py-2 border border-orange-1"
        href="/LuisQuirozcv.pdf"
        rel="noopener noreferrer"
        target="_blank">Descargar cv</a
      >
    </div>
  </div>
</section>
